// Adjust styles for A-Z listing plugin used on Authors page

// A-Z index at top: layout
.az-letters > ul.az-links > li,
.a-z-listing-widget .az-letters > ul.az-links > li,
.a-z-listing-widget.widget .az-letters > ul.az-links > li {
  list-style: none;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  margin: 0 0 0.6em;
  border: none;
  background: transparent;
  color: $warm-brown-3;
  display: flex;
  align-items: center;
  justify-content: center;
}

// A-Z index at top: links
.az-letters > ul.az-links > li a,
.a-z-listing-widget .az-letters > ul.az-links > li a,
.a-z-listing-widget.widget .az-letters > ul.az-links > li a {
  color: $dark-hot;
  text-decoration: none;
  border: 0;
  box-shadow: none;

  @include on-event {
    color: black;
  }
}

// Back to top link
.letter-section div.back-to-top a::before,
.letter-section div.back-to-top a::after {
  content: "";
  padding: 0;
}

.letter-section div.back-to-top a::before {
  content: "\f342";
  display: block;
}

.letter-section div.back-to-top a {
  text-transform: none;
  font-size: 0.7em;
  font-style: italic;
}
