// Global styles for cards
// @https://inclusive-components.design/cards/
// ----------------------------------------------------------------------------

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card + .card {
  margin-top: calc(1.5rem + #{$scale-value});
}

@supports (display: grid) {
  .cards > ul {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-column-gap: calc(1.5rem + #{$scale-value});
    grid-row-gap: calc(1.5rem + #{$scale-value});
  }

  // Two large feature cards on homepage
  #features-large.cards > ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(3rem + #{$scale-value});
    grid-row-gap: calc(3rem + #{$scale-value});
    margin-bottom: calc(3rem + #{$scale-value});

    @media screen and (max-width: 55rem) {
      grid-template-columns: 1fr;
    }
  }

  // The smaller feature cards on homepage
  #features-small.cards > ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(3rem + #{$scale-value});
    grid-row-gap: calc(3rem + #{$scale-value});

    @media screen and (max-width: 80rem) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 55rem) {
      grid-template-columns: 1fr;
    }
  }

  .card + .card {
    margin-top: 0;
  }
}

$base-spacing-unit: 2rem;
$half-spacing-unit: $base-spacing-unit / 2;

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s linear;
  padding-bottom: 3rem;

  // Random bg image
  &__bg {
    content: "";
    position: absolute;
    top: calc(100% - 11rem;);
    left: 0;
    bottom: 0;
    right: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    background-color: #eed2b9;
    filter: grayscale(60%);
    opacity: 0.75;

    @media screen and (max-width: 55rem) {
      top: calc(100% - 5rem;);
    }
  }

  // Triangular corner + arrow on hover
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0;
    border-color: transparent transparent $dark-warm-brown transparent;
    transition: border-width 0.3s;
  }

  &::before {
    content: "→"; // TEMP: replace this with svg arrow
    font-size: 150%;
    opacity: 0;
    color: #fff;
    position: absolute;
    bottom: 0.75rem;
    right: 1.5rem;
    z-index: 2;
    transition: opacity 0.15s;
    white-space: pre-wrap;
    text-align: right;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
    transform: translateX(-2rem);
  }

  @include on-event {
    &::before {
      opacity: 1;
      transition: all 0.5s;
      transform: translateX(0rem);
    }

    &::after {
      border-width: 0 0 ($base-spacing-unit * 4) ($base-spacing-unit * 4);
    }
  }
}

.card .card__body {
  padding: 1rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card p {
  max-width: 60ch;
}

.card a {
  text-decoration: none;
}

.card a:focus {
  outline: none;
  text-decoration: underline;
}

.card:focus-within,
.card:hover {
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.007) translateY(-5px);
}

.card:focus-within a:focus {
  text-decoration: none;
}

.card small {
  display: block;
}

.card .card__body > * + * {
  margin-top: 0.75rem;
}

.card .card__body > :last-child {
  margin-top: 0;
  padding-top: 0;
}

// Homepage styles for cards
// ----------------------------------------------------------------------------

// The following was originally only for home. Need to clean up these styles.

body.home,
body.single,
body.page {
  .card {
    transition: all ease-in 0.15s;
    position: relative;

    @include on-event {
      transition: all 0.3s;
      cursor: pointer;
      background-color: white;

      .card__meta {
        background-color: $dark-warm-brown;
        // background-color: $dark-hot;
        transition: all 0.3s;
      }
      a {
        // Keep the title links from changing color
        color: inherit;
      }
    }

    &__meta {
      @include sans;
      margin: 0;
      padding: calc(1.5rem + #{$scale-value}) calc(2rem + #{$scale-value})
        calc(1.5rem + #{$scale-value}) calc(4.2rem + #{$scale-value});
      // background-color: $orange-1;
      // background-color: $dark-warm-brown;
      background-color: $dark-hot;
      color: white;
      font-size: calc(45% + #{$scale-value});
      text-transform: uppercase;
      transition: all 0.15s;
    }

    &__body {
      // padding: 0 calc(2rem + #{$scale-value}) 15vw calc(2rem + #{$scale-value});
      padding: 0 calc(2rem + #{$scale-value}) 9rem calc(2rem + #{$scale-value});

      @media screen and (max-width: 55rem) {
        padding-bottom: calc(1rem + 7vw);
      }
    }

    &__title {
      @include sans;
      margin: calc(1.5rem + #{$scale-value}) 0 calc(0.25rem + #{$scale-value}) 0;
      font-size: 125%;

      a {
        font-weight: 400;
        margin: 0;
        font-size: calc(100% + #{$scale-value});
        color: black;
      }
    }

    &__author {
      font-size: calc(70% + 0.333vw);
      color: $warm-brown-3;
      font-weight: 400;
      margin: 0 0 1rem 0;
      opacity: 85%;
    }

    &__excerpt {
      max-width: 40rem;
      font-size: calc(80% + #{$scale-value});
    }

    &__divider {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: flex-end;
      margin: calc(13vh + #{$scale-value}) 10vw calc(13vh + #{$scale-value}) 0;

      img {
        max-height: calc(6vw + #{$scale-value});
        min-height: 100px;
      }
    }
  }

  // Features small styles
  // ----------------------------------------------------------------------------
  #features-small {
    // background: rgb(154, 145, 140);
    background: linear-gradient(
      180deg,
      #d0c8c4 0%,
      rgba(246, 241, 238, 1) 100%
    );
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   display: block;
    //   top: 0;
    //   left: 0;
    //   height: 15rem;
    //   width: 100vw;
    //   transform: translateY(-83%);
    //   background-image: url("img/landscape-03.png");
    //   background-position: center top;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   filter: grayscale(60%);
    //   // opacity: 0.25;
    // }
  }

  #features-small {
    width: 100vw;
    margin: 0 0 5rem 0;
    padding: 5rem $rl-site-margin;
    transform: translateX($full-bleed);

    @media screen and (max-width: 600px) {
      padding-bottom: 0;
    }

    @media screen and (max-width: 500px) {
      transform: translateX(calc((0.5rem + 0.333vw) * -1));
    }

    .card {
      background-color: $color__background-body;

      &__meta {
        z-index: 100;
        background-color: $color__background-body-3;
        color: $warm-brown-3;
      }

      // Various header colours for the small cards

      // &:nth-of-type(1) {
      //   .card__meta {
      //     background-color: $feature-small-header-1;
      //   }
      // }
      // &:nth-of-type(2) {
      //   .card__meta {
      //     background-color: $feature-small-header-2;
      //   }
      // }
      // &:nth-of-type(3) {
      //   .card__meta {
      //     background-color: $feature-small-header-3;
      //   }
      // }
      // &:nth-of-type(4) {
      //   .card__meta {
      //     background-color: $feature-small-header-4;
      //   }
      // }
      // &:nth-of-type(5) {
      //   .card__meta {
      //     background-color: $feature-small-header-5;
      //   }
      // }
      // &:nth-of-type(6) {
      //   .card__meta {
      //     background-color: $feature-small-header-6;
      //   }
      // }

      @include on-event {
        .card__meta {
          // background-color: darken($color__card-body, 10%);
          // filter: grayscale(40%);
          background-color: $pale-hot;
          color: black;
        }
      }

      &__meta {
        font-size: calc(40% + #{$scale-value});
      }

      &__meta-icon {
        background-position: calc(2rem + #{$scale-value}) center;
        background-repeat: no-repeat;

        &--poetry {
          background-image: url("img/icon-poetry.svg");
          background-size: calc(1.5rem + #{$scale-value});
        }

        &--postcard {
          background-image: url("img/icon-postcard.svg");
          background-size: calc(1.4rem + #{$scale-value});
        }

        &--travel {
          background-image: url("img/icon-travel.svg");
          background-position: calc(2rem + #{$scale-value}) 47%;
          background-size: calc(1.3rem + #{$scale-value});
        }
      }

      &__title {
        margin: calc(1.5rem + #{$scale-value}) 0 calc(0.25rem + #{$scale-value})
          0;
        line-height: 1;
        a {
          font-weight: 400;
          margin: 0;
          font-size: calc(70% + #{$scale-value});

          @include on-event {
            color: inherit;
          }
        }
      }

      &__author {
        font-size: calc(70% + 0.333vw);
        font-weight: 400;
        margin: 0 0 1rem 0;
        opacity: 85%;
      }

      &__excerpt {
        max-width: 40rem;
        font-size: calc(50% + #{$scale-value});
      }
    }
  }
}

.map-border {
  color: white;
  height: 18rem;
  width: 100vw;
  margin-top: 4rem;
  background-image: url("img/map-bg@2x.jpg");
  background-size: cover;
  background-position: top;
  background-blend-mode: color-burn;
  background-color: #6a4f44;
  position: relative;
  border-bottom: 1rem solid #a19185;
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 900px) {
    margin-top: 0;
  }

  // &::before {
  //   top: -2.4rem;
  //   background: linear-gradient(-45deg, #6a4f44 1.2rem, transparent 0),
  //     linear-gradient(45deg, #513f44 1.2rem, transparent 0);
  //   background-repeat: repeat-x;
  //   background-size: 2rem 2rem;
  //   content: " ";
  //   display: block;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 0px;
  //   width: 100%;
  //   height: 2rem;
  // }
  //
  // &::after {
  //   background: linear-gradient(-45deg, #d0c8c4 16px, transparent 0),
  //     linear-gradient(45deg, #e1d6cc 16px, transparent 0);
  //   background-position: left-bottom;
  //   background-repeat: repeat-x;
  //   background-size: 32px 32px;
  //   content: " ";
  //   display: block;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 0px;
  //   width: 100%;
  //   height: 32px;
  // }

  &__heading {
    @include sans;
    font-size: 150%;
    text-align: center;
    line-height: 15rem;
  }
}

.journal-more {
  margin: 3rem 0 0 50%;
  display: inline-block;
  transform: translateX(-50%);
}

.read-more {
  color: $dark-warm-brown;
  font-size: 150%;
  margin: 5rem auto 0 auto;
  text-align: center;
}
