// Global styles for cards
// @https://inclusive-components.design/cards/
// ----------------------------------------------------------------------------

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card + .card {
  margin-top: calc(1.5rem + #{$scale-value});
}

@supports (display: grid) {
  .cards > ul {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-column-gap: calc(1.5rem + #{$scale-value});
    grid-row-gap: calc(1.5rem + #{$scale-value});
  }

  // Two large feature cards on homepage
  #features-large.cards > ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(3rem + #{$scale-value});
    grid-row-gap: calc(3rem + #{$scale-value});
    margin-bottom: calc(3rem + #{$scale-value});

    @media screen and (max-width: 55rem) {
      grid-template-columns: 1fr;
    }
  }

  // The smaller feature cards on homepage
  #features-small.cards > ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(3rem + #{$scale-value});
    grid-row-gap: calc(3rem + #{$scale-value});

    @media screen and (max-width: 80rem) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 55rem) {
      grid-template-columns: 1fr;
    }
  }

  .card + .card {
    margin-top: 0;
  }
}

$base-spacing-unit: 2rem;
$half-spacing-unit: $base-spacing-unit / 2;

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s linear;

  // Random bg image
  &__bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    background-color: $color__card-body;
    filter: grayscale(60%);
    opacity: 0.75;
  }

  // Triangular corner + arrow on hover
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0;
    border-color: transparent transparent $light-warm-brown transparent;
    transition: border-width 0.3s;
  }

  &::before {
    content: "→"; // TEMP: replace this with svg arrow
    font-size: 150%;
    opacity: 0;
    color: #fff;
    position: absolute;
    bottom: 0.75rem;
    right: 1.5rem;
    z-index: 2;
    transition: opacity 0.15s;
    white-space: pre-wrap;
    text-align: right;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
    transform: translateX(-10rem);
  }

  @include on-event {
    &::before {
      opacity: 1;
      transition: all 0.5s;
      transform: translateX(0rem);
    }

    &::after {
      border-width: 0 0 ($base-spacing-unit * 4) ($base-spacing-unit * 4);
    }
  }
}

.card .card__body {
  padding: 1rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card p {
  max-width: 60ch;
}

.card a {
  text-decoration: none;
}

.card a:focus {
  outline: none;
  text-decoration: underline;
}

.card:focus-within,
.card:hover {
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.007) translateY(-5px);
}

.card:focus-within a:focus {
  text-decoration: none;
}

.card small {
  display: block;
}

.card .card__body > * + * {
  margin-top: 0.75rem;
}

.card .card__body > :last-child {
  margin-top: 0;
  padding-top: 0;
}

// Homepage styles for cards
// ----------------------------------------------------------------------------

body.home {
  .card {
    transition: all ease-in 0.15s;
    position: relative;

    @include on-event {
      transition: all 0.3s;
      cursor: pointer;
      background-color: white;

      .card__meta {
        background-color: $dark-warm-brown;
        transition: all 0.3s;
      }
    }

    &__meta {
      @include sans;
      margin: 0;
      padding: calc(1.5rem + #{$scale-value}) calc(2rem + #{$scale-value})
        calc(1.5rem + #{$scale-value}) calc(4.2rem + #{$scale-value});
      background-color: $orange-1;
      color: white;
      font-size: calc(45% + #{$scale-value});
      text-transform: uppercase;
      transition: all 0.15s;
      @include broadcast;
    }

    &__body {
      padding: 0 calc(2rem + #{$scale-value}) 15vw calc(2rem + #{$scale-value});

      @media screen and (max-width: 55rem) {
        padding-bottom: 33vw;
      }
    }

    &__title {
      @include sans;
      margin: calc(1.5rem + #{$scale-value}) 0 calc(0.25rem + #{$scale-value}) 0;
      font-size: 130%;

      a {
        font-weight: 400;
        margin: 0;
        font-size: calc(100% + #{$scale-value});
        color: black;
        @include on-event {
          color: $color__link;
        }
      }
    }

    &__author {
      font-size: calc(70% + 0.333vw);
      font-weight: 400;
      margin: 0 0 1rem 0;
      opacity: 85%;
    }

    &__excerpt {
      max-width: 40rem;
      font-size: calc(80% + #{$scale-value});
    }

    &__divider {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: flex-end;
      margin: calc(13vh + #{$scale-value}) 10vw calc(13vh + #{$scale-value}) 0;

      img {
        max-height: calc(6vw + #{$scale-value});
        min-height: 100px;
      }
    }
  }

  // Features small styles
  // ----------------------------------------------------------------------------
  #features-small {
    margin-bottom: 5rem;

    .card {
      &__meta {
        background-color: $feature-small-header-3;
      }

      // Various header colours for the small cards

      // &:nth-of-type(1) {
      //   .card__meta {
      //     background-color: $feature-small-header-1;
      //   }
      // }
      // &:nth-of-type(2) {
      //   .card__meta {
      //     background-color: $feature-small-header-2;
      //   }
      // }
      // &:nth-of-type(3) {
      //   .card__meta {
      //     background-color: $feature-small-header-3;
      //   }
      // }
      // &:nth-of-type(4) {
      //   .card__meta {
      //     background-color: $feature-small-header-4;
      //   }
      // }
      // &:nth-of-type(5) {
      //   .card__meta {
      //     background-color: $feature-small-header-5;
      //   }
      // }
      // &:nth-of-type(6) {
      //   .card__meta {
      //     background-color: $feature-small-header-6;
      //   }
      // }

      @include on-event {
        .card__meta {
          background-color: $dark-warm-brown;
        }
      }

      &__meta {
        font-size: calc(40% + #{$scale-value});
      }

      // Decrease the bottom padding
      &__body {
        // padding-bottom: calc(8rem + (#{$scale-value} * 5));
      }

      &__title {
        margin: calc(1.5rem + #{$scale-value}) 0 calc(0.25rem + #{$scale-value})
          0;
        line-height: 1.1;
        a {
          font-weight: 400;
          margin: 0;
          font-size: calc(80% + #{$scale-value});

          @include on-event {
            color: $color__link;
          }
        }
      }

      &__author {
        font-size: calc(70% + 0.333vw);
        font-weight: 400;
        margin: 0 0 1rem 0;
        opacity: 85%;
      }

      &__excerpt {
        max-width: 40rem;
        font-size: calc(80% + #{$scale-value});
      }
    }
  }
}
