.newsletter {
  background-image: url("img/map-bg@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  padding: 6rem 2rem;

  &__heading {
    text-align: center;
    @include sans;
    font-size: 200%;
    margin: 0;
    padding: 0;
  }

  &__subheading {
    text-align: center;
    font-size: 150%;
    margin: 0;
    padding: 0;
  }

  // The form
  // ----------------------------------------------------------------------------
  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__label {
    @include sans;
    font-size: 85%;
  }

  &__input,
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    border: none;
    border-radius: 0;
  }
}

.error {
  border: 2px solid red !important;
}

label {
  display: block;
}

.input-group {
  margin: 10px 0;
}

// Mailchimp styles
// ----------------------------------------------------------------------------

#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 1rem;
}
