button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  border-radius: 0;
  background: $hot;
  color: rgba(white, 1);
  line-height: 1;
  padding: 0.5em 1em 0.6em;
  @include sans;
  font-weight: normal !important;

  &:hover {
    background: black;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}
