button,
input[type="button"],
input[type="reset"],
input[type="submit"],
main a.button,
.journal-more a.button {
  border: none;
  border-radius: 0;
  background: $hot;
  color: white;
  line-height: 1;
  padding: 0.5em 1em;
  @include sans;
  font-weight: normal !important;
  font-size: 80%;

  &:hover {
    background: black;
    color: white;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

.journal-more a.button-reverse {
  background: black;
  color: white;

  &:hover {
    background: $hot;
    color: white;
  }
}
