p {
  margin: 0 0 1rem 0;
}

dfn,
em,
i {
  font-style: italic;
}

blockquote {
  color: rgba(black, 0.7);
  background-color: rgba(white, 0.6);
  font-style: italic;
  margin: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.025);

  p {
    margin: 0 0 0.25rem 0;
  }

  cite {
    @include sans;
    font-size: 80%;
    padding: 0;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  // @include font-size(0.9375);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
  // @include font-size(0.9375);
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}
