body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-weight: 400;
  font-style: normal;
  font-size: calc(1rem + #{$scale-value});
  line-height: $font__line-height-body;
}

h1,
h2,
h3 {
  line-height: $font__line-height-headings;
  font-weight: 400;
}

h1 {
  font-size: 200%;
}

em,
i {
  font-family: grad, serif;
  font-weight: 400;
  font-style: italic;
}

strong,
b {
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
}

p {
  max-width: 55ch;
}

.single-logbook .entry-content,
.page .entry-content {
  font-size: calc(1rem + (0.333vw * 2));
}

// body.page p,
// body.page ul {
//   font-size: 80%;
// }

// Sans = Sofia Pro Semi Bold
@mixin sans {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin sans-black {
  font-family: sofia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
}

// Drop cap: pure CSS
#dropcap {
  @media screen and (min-width: 801px) {
    // margin: -1.05ch 0.1ch -0.3ch 0;
    // padding: 0 0.01ch 0 0;
    margin: -0.52ch 0.1ch 0.75ch -0.1ch;
    padding: 0 0.01ch 0 0;
    float: left;
    font-size: calc(900% + #{$scale-value});
    line-height: 0;
    @include sans-black;
  }
}

// Drop cap: js version
// #dropcap {
//   @media screen and (min-width: 801px) {
//     // initial-letter: 5;
//     padding: 0 1rem 0 0;
//     @include sans-black;
//   }
// }

@import "headings";

@import "copy";

// Grad Regular
//
// font-family: grad, serif;
// font-weight: 400;
// font-style: normal;
//
// Grad Italic
//
// font-family: grad, serif;
// font-weight: 400;
// font-style: italic;
//
// Grad Bold
//
// font-family: grad, serif;
// font-weight: 700;
// font-style: normal;

.issues-list-wrapper {
  .issues-list {
    column-count: 3;
    column-gap: 2rem;
    padding-bottom: 12rem;

    @media screen and (max-width: 1050px) {
      column-count: 2;
    }

    @media screen and (max-width: 600px) {
      column-count: 1;
      padding-bottom: 0;
    }
  }
}

.alm-listing .alm-paging-content > li p,
.alm-listing .alm-reveal > li p,
.alm-listing > li p,
.alm-listing > p {
  max-width: 55ch;
}

.archive-result-category {
  @include sans;
  font-size: 70%;
  margin-left: 1.5rem;
  color: $dark-warm-brown;
}

.archive-result-title {
  margin: 0 0 1rem 1.5rem;
}

.archive-result-title-span {
  // same as .latest-list-author, need to consolidate styles
  color: $warm-brown-3;
  opacity: 80%;
}
