body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-weight: 400;
  font-style: normal;
  font-size: calc(1rem + #{$scale-value});
  // @include font-size(1);
  line-height: $font__line-height-body;
}

h1,
h2,
h3 {
  line-height: $font__line-height-headings;
}

em,
i {
  font-family: grad, serif;
  font-weight: 400;
  font-style: italic;
}

strong,
b {
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
}

// Sans = Sofia Pro Semi Bold
@mixin sans {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@import "headings";

@import "copy";

// Grad Regular
//
// font-family: grad, serif;
// font-weight: 400;
// font-style: normal;
//
// Grad Italic
//
// font-family: grad, serif;
// font-weight: 400;
// font-style: italic;
//
// Grad Bold
//
// font-family: grad, serif;
// font-weight: 700;
// font-style: normal;
