body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

// Grad Regular
//
// font-family: grad, serif;
// font-weight: 400;
// font-style: normal;
//
// Grad Italic
//
// font-family: grad, serif;
// font-weight: 400;
// font-style: italic;
//
// Grad Bold
//
// font-family: grad, serif;
// font-weight: 700;
// font-style: normal;
