$color__background-body: #f7f2ee;
$color__background-body-darker: #ebe7e4;
$color__background-body-2: #eadbce;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: black;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #cd2c00;
$color__link-visited: #cd2c00;
$color__link-hover: black;
$color__text-main: #2a2626;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$hot: #cd2c00;
$super-hot: #fe3700;
$pale-hot: #edc2b6;
$dark-hot: #cd2c00;
$dark-warm-brown: #420e00;
$dark-brown: #2e2623;
$input-warm: #f78f74;
$input-hot: #ffffff;

$warm-brown: #8f6e65;
$light-warm-brown: #dac8c3;
$lighter-warm-brown: #e1d6cc;

$color__card-body: #fcf9f6;

$orange-1: #db7258;

$feature-small-header-1: #e09886;
$feature-small-header-2: #db7258;
$feature-small-header-3: #bda19a;
$feature-small-header-4: #d7816c;
$feature-small-header-5: #a38178;
$feature-small-header-6: #ec9782;

$border-grey: #7a7877;
