$size__site-main: 100%;
$size__site-sidebar: 25%;

// Basic scale value
$scale-value: 0.333vw;
$scale-value-2: 0.5vw;
// Top margin
$top-site-margin: calc(2rem + #{$scale-value});
// Right and left side margins
$rl-site-margin: calc(2.5rem + #{$scale-value});
$rl-site-margin-small: calc(1.5rem + #{$scale-value});
