a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    @include link-fade;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

// Smarter Link Underlines
// https://gist.github.com/jimmynotjim/16290a7ed59b6f3bb28d
// ----------------------------------------------------------------------------

@mixin text-underline-crop($background) {
  text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background,
    0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background,
    0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background,
    -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);

    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);

    background: $selection;
  }
}

@mixin link-underline($background, $text, $selection) {
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

// Add Smarter Link Underlines to main links
// ----------------------------------------------------------------------------

a.single-post__article,
a.bio__related-text-item--link,
.archived-issue__issue-content--list-item a,
a.archived-issue__issue-content--list-section-item-link {
  // text-decoration: underline;
  // @include link-underline($color__background-body, $color__link, $pale-hot);
  //
  // @include on-event {
  //   color: $color__link-hover;
  // }

  text-shadow: 0.07em 0 0 $color__background-body,
    -0.07em 0 0 $color__background-body, 0 0.07em 0 $color__background-body,
    0 -0.07em 0 $color__background-body, 0.07em 0 0 $color__background-body,
    -0.07em 0 0 $color__background-body, 0 0.07em 0 $color__background-body,
    0 -0.07em 0 $color__background-body;
  background-image: linear-gradient($lighter-warm-brown, $lighter-warm-brown);
  background-repeat: repeat-x;
  background-position: bottom 0.13em center;
  background-size: 100% 0.065em;
}

// No underlines on these elements
.card a,
.single_post__meta--taxonomy-tag a,
.issue-index a {
  text-decoration: none;
  text-shadow: none;
  background: none;
}
