a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    @include link-fade;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

// Smarter Link Underlines
// https://codepen.io/jimmynotjim/pen/EabQjV
// https://gist.github.com/jimmynotjim/16290a7ed59b6f3bb28d
// ----------------------------------------------------------------------------

@mixin text-underline-crop($background) {
  text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background,
    0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background,
    0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background,
    -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
}

@mixin text-underline($color__background-body, $pale-hot) {
  background-image: linear-gradient(#ded4d2, #ded4d2);
  background-size: 0.1rem 0.1rem;
  background-repeat: repeat-x;
  background-position: 0% 93%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);

    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);

    background: $selection;
  }
}

@mixin link-underline($background, $text, $selection) {
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

a.single-post__article,
a.bio__related-text-item--link,
.archived-issue__intro--content a,
.archived-issue__issue-content--list-item a,
a.archived-issue__issue-content--list-section-item-link,
a.latest-list__link {
  @include link-underline($color__background-body, $dark-hot, $pale-hot);

  @include on-event {
    color: black;
  }
}

// No underlines on these elements
.card a,
.single_post__meta--taxonomy-tag a,
.issue-index a {
  text-decoration: none;
  text-shadow: none;
  background: none;
}
