// nav#site-navigation {
//   ul {
//     list-style: none;
//     margin: 0;
//     // padding-left: 0;
//   }
//
//   li {
//     display: block;
//     float: left;
//     // padding: 1rem;
//     position: relative;
//     text-decoration: none;
//     transition-duration: 0.5s;
//   }
//
//   li a {
//     // color: #fff;
//   }
//
//   li:hover,
//   li:focus-within {
//     // background: red;
//     cursor: pointer;
//   }
//
//   li:focus-within a {
//     outline: none;
//   }
//
//   ul li ul {
//     background: orange;
//     // visibility: hidden;
//     // opacity: 0;
//     min-width: 5rem;
//     // position: absolute;
//     transition: all 0.5s ease;
//     margin-top: 1rem;
//     // left: 0;
//     // display: none;
//   }
//
//   ul li:hover > ul,
//   ul li:focus-within > ul,
//   ul li ul:hover,
//   ul li ul:focus {
//     visibility: visible;
//     opacity: 1;
//     display: block;
//   }
//
//   ul li ul li {
//     clear: both;
//     width: 100%;
//   }
// }

.main-navigation {
  overflow: visible;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 999999;
      font-size: 95%;
      background-color: white;
      padding: 0.65rem 0.25rem;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
          overflow: visible;
          height: auto;
        }
      }

      a {
        min-width: 15rem;
        padding: 0.5rem 1rem;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 0.3rem 0.5rem 0.3rem;

    @include on-event {
      // background-color: white;
      // box-shadow: 0 5px 10px 0 rgba(black, 0.02);
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
