.sticky {
  display: block;
}

.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content {
  margin: 1.5em 0 0;
}

.entry-summary {
}

.page-links {
  clear: both;
  margin: 0 0 0 0;
}

.highlight-box {
  color: rgba(black, 0.85);
  background-color: rgba(white, 0.6);
  font-size: 85%;
  padding: 1.5rem;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.05);

  p {
    margin: 0 0 0.25rem 0;
    max-width: 55ch;
  }
}
